# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# SQLite Databases (we don't want to upload local development db)
*.sqlite3
# *.db (allowing DB to sync to Railway)

# Facebook Automation Data
# backend/fb_session_data/ (allowing facebook session to sync to Railway)
backend/uploads/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
