# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# SQLite Databases (we don't want to upload local development db)
*.sqlite3
*.db

# Facebook Automation Data
backend/fb_session_data/
backend/uploads/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
